<h2>All Artists</h2>
<ul>
    <% @artists.each do |artist| %>
    <li>
        <%= link_to artist.name, artist_path(artist.id) %>
        (<%= artist.nationality %>)
        
        <!-- <a href="<%= artist_path(artist.id) %>">
            <%= artist.name %> (<%= artist.nationality %>)
        </a> -->
    </li>
    <% end %>
</ul>
